@import 'tailwindcss';

/* 다크모드 적용 */
@custom-variant dark (&:where(.dark, .dark *));

/* scrollbar 적용 */
/* https://adoxography.github.io/tailwind-scrollbar/utilities */
@plugin 'tailwind-scrollbar';

* {
  font-family: 'Pretendard', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

@layer base {
  html,
  body,
  * {
    @apply scrollbar-none;
  }

  html.dark,
  .dark body,
  .dark * {
    @apply scrollbar-none;
  }
}
